/* ------------ youtube.com/CodeExplained ------------ */
body{
    padding: 0;
    margin: 20;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ container ------------ */
.container{
    padding:10px;
    width:380px;
    margin:0 auto;
}

/* ------------ header ------------ */
.header{
    width: 380px;
    height:200px;
    background-image: url('../img/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.clear{
    width : 100px;
    height: 30px;
    position: absolute;
    left:20px;
    bottom: 20px;
    font-size: 20px;
    color: rgb(84, 12, 250);
    
}
.clear em{
    font-size: 20px;
    color: rgb(84, 12, 250);
}
.clear:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    font-size: 30px;
    color: rgb(250, 12, 32);
}
#date{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
}

/* ------------ content ------------ */
.content{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: rgb(223, 172, 243);
    overflow: auto;
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item em.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item em.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 360px;
    height:40px;
    background-color: rgb(230, 80, 80);
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    border: none;
    font-size: 20px;
    padding-left:10px;
    background-color: rgb(165, 230, 80);
}











