/* (A) SHARED */
#ostoslista-wrap, #ostoslista-wrap * {
  font-family: 'Montserrat', serif;
  box-sizing: border-box;
}
#ostoslista-wrap input, .ostoslista-item {
  border: 0;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* (B) WRAPPER */
#ostoslista-wrap {
  background: #f3afaf;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: #2781cf;
  border-style: dotted;
}

/* (C) HEADER */
#ostoslista-wrap h1 { margin: 10px 0;
font-size: x-large; }

/* (D) ROW ITEMS */
#ostoslista-add, .ostoslista-row {
  display: flex;
  align-items: center;
}
#ostoslista-item, .ostoslista-item {
  flex-grow: 1;
  background: #fff;
}
.ostoslista-item.ostoslista-ok { background: #cffff4; }
#ostoslista-save, .ostoslista-del, .ostoslista-done {
  color: #fff;
  cursor: pointer;
}
.ostoslista-del { background: #ed3636; }
#ostoslista-save, .ostoslista-done { background: #2781cf; }
